[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
openpyxl = "*"
pdfkit = "*"
pdfcrowd = "*"
xhtml2pdf = "*"

[requires]
python_version = "3.8"
